<div class="container">
    <form (ngSubmit)="alterar()">
        <label for="id">Id</label>
        <input id="id" type="text" [(ngModel)]="contato.id" name="id" readonly/>

        <label for="idnome">Nome</label>
        <input id="idnome" type="text" placeholder="Informe nome" [(ngModel)]="contato.nome" name="nome"/>
       
        <label for="idemail">Email</label>
        <input id="idemail" type="text" placeholder="Informe email" [(ngModel)]="contato.email" name="email"/>
        
        <label for="idfone">Fone</label>
        <input id="idfone" type="text" placeholder="Informe fone" [(ngModel)]="contato.fone" name="fone"/>
        
        <button class="btn btn-primary mt-3">Alterar</button>
        <input type="button" class="btn btn-primary mt-3" (click)="excluir()" value="Excluir" />
        <p>{{msg}}</p>
    </form>
</div> 