
<!--
<nav class="navbar navbar-expand-lg bg-light">
    <a routerLink="cadastro">Cadastro</a>
    <a routerLink="formreativo">Form Reativo</a>
    <a routerLink="">Home</a>
</nav>
<div>
    <router-outlet></router-outlet>
</div>
-->
<div class="container">
    <h1>Agenda de contatos</h1>
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side" opened>
          <ol>
            <li><a routerLink="cadastro">Cadastro</a></li>
            <li><a routerLink="formreativo">Form Reativo</a></li>
            <li> <a routerLink="">Home</a> </li>
          </ol>   
        </mat-drawer>
        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
</div>

  